body {
    font-family: sans-serif;
    background-color: grey;
    background:url(http://www.hdwallpapery.com/static/images/free-background-wallpaper-image_EE5lqyX.jpg);
    margin-top: 75px;
}

.center {
    margin-top: 75px;
    text-align: center;
}

.text-big {
    margin-top: 75px;
    font-size: 300%;
}

.bold {
    margin-top: 75px;
    font-weight: bold;
}

.img-medium {
    height: 150px;
}


.icon {
    opacity: 0.6;
    height: 150px;
}