body {
    font-family: sans-serif;
    background-color: grey;
    background: radial-gradient(circle, white, black);
    background: url(https://hasura.io/rstatic/resources/blog1photo-hasura-face.png);
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

